@model Blog
@{
    ViewData["Title"] = "Create Blog";
}

<h2></h2>

<form method="post" asp-controller="Admin" asp-action="SaveBlog">
    <div class="form-group">
        <input type="text" name="blogTitle" class="form-control"/>
        <textarea id="Editor" name="blogcontent" class="form-control" rows="20"></textarea>
    </div>
    <div class="text-center">
        <button class="btn btn-primary button p-1 m-3" type="submit" value="">Save Blog</button>
    </div>
</form>

@section Scripts
{
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#Editor").summernote();
        });
    </script>
}